.bg-nav{
    background-color: rgb(44 62 80);
}

.bg-green{
    background-color: rgb(26 188 156);
}

.icona{
    color: white;
}

.barra{
    height: 3px;
    width: 50px;
    background-color: white;
}

.barra-black{
    height: 3px;
    width: 50px;
    background-color: black;
}

.icona-black{
    color: black;
}

.bg-footer{
    background-color: rgb(58 84 109);
}